*{
  box-sizing: border-box;
}

/*Dorte koder Forsiden*/

#dorte {
  max-width: 100%;
  height: auto;
  margin: 0;
  background-image: url(img/breatherdesigntema3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*header og navmenu*/
#dorte header {
  height: 98px;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: solid 3px white; /*#414033;*/
  background-color: rgba(129,76,79,0.4); /*#814C4F;*/
  margin: 0;
  /*overflow: hidden;*/
  position: fixed;
  top: 0;
  width: 100%;
}

#dorte header #header {
  height: 98px;
}

#dorte header #header img {
  height: 90%;
  padding: 8px 0 0 5%;
  margin: 0;
  float: left;
}

#dorte nav {
  position: absolute;
  margin-top: 1.4em;
  width: 80%;
  margin-left: 10%;
  padding-right: 5px;
}

#dorte nav ul {
  list-style-type: none;
  margin: 0;
  overflow:  hidden;
  padding-top: 12px;
}

#dorte nav ul li {
    float: right;
}

#dorte nav ul li a {
    display: block;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
}

#dorte li a:hover {
  color: rgb(83,112,129);
}
/*flex*/
/*.famsm {
  display: inline-block;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%;
  background-color: rgba(255,255,255,0.5);

}
.famsm h2 {
  font-size: 150%;
  font-family: 'Varela Round', sans-serif;
}*/
.flex-item h3 {
  font-family: 'Varela Round', sans-serif;
}
.flex-item p {
  font-family: 'Varela Round', sans-serif;
  font-size: 80%;
}

.flex-container {
    /*display: -webkit-flex;*/
    margin-top: 9em;
    margin-left: 3em;
    margin-right: 7em;
    margin-bottom: 5em;
    display: flex;
    width: 88%;
    height: auto;
    /*flex-wrap: wrap;*/
    text-align: center;
    background-color: rgb(255,255,255);
    justify-content: space-around;
    z-index: -100;

}

.flex-item {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 4% 2% 3% 1%;
    border-style:  solid;
}

/*#dorte main {
  margin: 0 10.9em;
  padding-top: 202px;
  height: 505px;
  padding-bottom: 10px;

}

#dorte main section {
  width: 50%;
  height: 70%;
  margin: 10.9em;
  background-color: #ffffff;
  opacity: 0.7;
  display: inline-block;
  margin: auto;
  padding-top: 1.5%;
  padding-bottom: 2%;
  padding-left: 1%;
}

#dorte main section h2{
  color: #000000;
  font-size: 3rem;
  text-align: left;
  padding-top: 1%;
  padding-left: 2%

}

#dorte #box{
  display: -webkit-flex;
  -webkit-align-items: center;

}

#dorte main section h3{
  color: #000000;
  font-size: 2rem;
  text-align: left;
  padding-top: 0.5%;
  padding-left: 2%

}
#dorte main section p{
  color: #000000;
  font-size: 1.5rem;
  text-align: left;
  padding-top: 0%;
  padding-left: 2%

}
#dorte main section img {
  height: 100%;
  display: block;
  margin: auto;

}
#dorte iframe {
margin-top: 0em;
}
*/

#dorte footer {
  height: 98px;
  padding: 0;
  border-top: solid 3px white; /*#414033;*/
  margin: 0;
  background-color: rgba(129,76,79,0.4);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 34px;
  /*opacity: 0.7;*/
}


#dorte footer p {
  text-align: center;
  font-size: 0.75em;
  font-family: 'Varela Round', sans-serif;
  color: #ffffff;
}

#dorte footer p a img {
  width: 20px;
  margin-left: 1%;
}


/*forside slutter her */

/*Hamburgermenuen starter her*/
/*hvordan overlayet ser ud nÃ¥r det kommer frem*/
/*Dorte koder Menu + Forside*/

.navi{
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #537081; /*baggrund menu ud rgba(0,0,0,0.9);*/
  overflow-x: hidden;
  transition: 0.5s;
}

/*hvordan ser indholdet ud i hamburgermenuen*/
.overlayer{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  /*padding-left: 5%;*/
  font-size: 10%;
  margin-top: 30px;
  font-family: 'Varela Round', sans-serif;
}
/*hvordan linkene ser ud i overlay*/
.navi a{
  padding: 8px;
  text-decoration: none;
  font-size: 10em;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
/*giver farve nÃ¥r der holdes over indholdet*/
.navi a:hover .navi a:focus{
  color: #537081; /*#f1f1f1;*/
}

/*position af x/lukke knappen i menuen*/
.navi .closebut{
  position: absolute;
  top: 15px;
  right: 5%;
  padding: 0;
  font-size: 60px;
}
/*hamburgerikon*/
span{
  position: absolute;
  right: 5%;
  margin-top: 20px;
  font-size: 2.0em;
  color: #ffffff;
  cursor: pointer;

}
/*menuen slutter her*/
@media screen and (max-width: 560px) {
#dorte nav {
  display: none; /*nav menubar forsvinder*/
}
}

@media screen and (max-width: 982px) {
.flex-container {
    flex-wrap: wrap;
  }
}
