*{
  box-sizing: border-box;
}

/*Dorte koder Forsiden*/

#dorte {
  max-width: 100%;
  height: auto;
  margin: 0;
  background-image: url(img/breatherdesigntema3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*header og navmenu*/
#dorte header {
  height: 98px;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: solid 3px white; /*#414033;*/
  background-color: rgba(129,76,79,0.4); /*#814C4F;*/
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#dorte header #header {
  height: 98px;
}

#dorte header #header img {
  height: 90%;
  padding: 8px 0 0 5%;
  margin: 0;
  float: left;
}

#dorte nav {
  position: absolute;
  margin-top: 1.4em;
  width: 80%;
  margin-left: 10%;
  padding-right: 5px;
}

#dorte nav ul {
  list-style-type: none;
  margin: 0;
  overflow:  hidden;
  padding-top: 12px;
}

#dorte nav ul li {
    float: right;
}

#dorte nav ul li a {
    display: block;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
}

#dorte li a:hover {
  color: rgb(83,112,129);
}

/*footer*/
#dorte footer {
  height: 98px;
  padding: 0;
  border-top: solid 3px white; /*#414033;*/
  margin: 0;
  background-color: rgba(129,76,79,0.4);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 34px;
  /*opacity: 0.7;*/
}

#dorte footer p {
  text-align: center;
  font-size: 0.75em;
  font-family: 'Varela Round', sans-serif;
  color: #ffffff;
}
/*forside slutter her */

/*Hamburgermenuen starter her*/
/*hvordan overlayet ser ud når det kommer frem*/
/*Dorte koder Menu + Forside*/

.navi{
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #537081;
  overflow-x: hidden;
  transition: 0.5s;
}

/*hvordan ser indholdet ud i hamburgermenuen*/
.overlayer{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  margin-top: 30px;
  font-family: 'Varela Round', sans-serif;
}
/*hvordan linkene ser ud i overlay*/
.navi a{
  padding: 8px;
  text-decoration: none;
  font-size: 1.2rem; /*tekststørrelse i åben menu*/
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/*giver farve når der holdes over indholdet*/
.navi a:hover, .overlay a:focus {
    color: rgba(129,76,79,0.4);
}

/*position af x/lukke knappen i menuen*/
.navi .closebut{
  position: absolute;
  top: 15px;
  right: 5%;
  padding: 0;
  font-size: 60px;
}
/*hamburgerikon*/
span{
  position: absolute;
  right: 5%;
  margin-top: 20px;
  font-size: 2em;
  color: #ffffff;
  cursor: pointer;
}
/*menuen slutter her*/

#caroline main{
  margin: 8em 5%;
  padding-top: 1%;
  padding-bottom: 10px;
  background-color: white;
  opacity: 0.95;
  z-index: -100;
}

#caroline section {
  background-color: white;
  opacity: 0.95;
  margin: 0em 5%;
}

#caroline h1 {
  text-align: left;
  padding: 5% 5% 0% 5%;
  margin-top: 3em;
    font-family: 'Varela Round', sans-serif;
  }

#caroline h4 {
  text-align: left;
  padding-left: 5%;
  font-family: 'Open Sans Condensed';
  padding-bottom: 2%;
  }

#caroline section .flex-container {
  margin: 8em 5%;
  max-width: 90%;
}

#caroline section .flex-container-one {
  margin: 8em 5%;
  max-width: 90%;
}

#caroline article {
  background-color: white;
  opacity: 0.95;
  text-align: left;
  display: block;
  width: 100%;
  height: auto;
  padding: 5%;
  }

#caroline p {
    font-family: 'Open Sans Condensed';
}

#caroline figure {
  /*background-color: orange;*/
  /*max-width: 100%;
  height: auto;*/
  display: block;
}

#caroline img {
  /*background-color: blue;*/
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 0%;
  /*width: 50%*/
}

/*start mediaqueries*/
@media screen and (max-width: 560px) {
#dorte nav {
  display: none; /*nav menubar forsvinder*/
}
}

@media screen and (max-width: 880px) {
}

@media only screen and (min-width: 700px) {

  #caroline .flex-container {
    display: flex;
    /*flex-direction: row;*/
    /*width: 100%;*/
    height: auto;
    }

  #caroline .flex-container-one {
    display: flex;
    /*width: 100%;*/
    height: auto;
  }

  #caroline article {
    /*display: flex;
    flex-direction: row;*/
    height: auto;
    margin: 0;
  }

  #caroline img {
    padding-top: 25%;
  }
  #caroline figure {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  #caroline .flex-item {

    margin: 0;
    flex-direction: row;
  }

  #caroline .flex-item-one {
    margin: 0;
    flex-direction: row;
  }

}


/*carolines main slut*/
