*{
  box-sizing: border-box;
}

/*Dorte koder Forsiden*/

#dorte {
  max-width: 100%;
  height: auto;
  margin: 0;
  background-image: url(img/breatherdesigntema3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*header og navmenu*/
#dorte header {
  height: 98px;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: solid 3px white; /*#414033;*/
  background-color: rgba(129,76,79,0.4); /*#814C4F;*/
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#dorte header #header {
  height: 98px;
}

#dorte header #header img {
  height: 90%;
  padding: 8px 0 0 5%;
  margin: 0;
  float: left;
}

#dorte nav {
  position: absolute;
  margin-top: 1.4em;
  width: 80%;
  margin-left: 10%;
  padding-right: 5px;
}

#dorte nav ul {
  list-style-type: none;
  margin: 0;
  overflow:  hidden;
  padding-top: 12px;
}

#dorte nav ul li {
    float: right;
}

#dorte nav ul li a {
    display: block;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
}

#dorte li a:hover {
  color: rgb(83,112,129);
}

#dorte .lup {
  height: 90%;
  padding: 8px 70px 20px 10px;
  margin: 0.2em;
  float: right;
  overflow: hidden;
}
#dorte .lup img {

  }

  /*katrine starter kodning/
/*maincontent*/
#katrine main {
  margin: 8em 5%;
  padding-top: 1%;
  padding-bottom: 10px;
  background-color: white;
  opacity: 0.95;
  z-index: -100;
  background-color: white;
}

#katrine main section {
  width: 20%;
  height: 30%;
  /*padding: 8px 0;*/
  margin: 0.7em;
  background-color: #ffffff; /*rgba(255,255,255,0.2);*/
  opacity: 0.3;
  z-index: -100;
}

#katrine main section h2{
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  padding-top: 15%;
}

#katrine main section img {
  width: 90%;
  height: 100%;
  display: block;
  margin: auto;
}

#katrine .hejsa {
  background-color: white;
}

#katrine h1 {
  padding-left: 40px;

}

#katrine p{
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 40px;
}
#katrine figure p {
  text-align: center;
  padding-right: 20px;
}
#katrine figure img {
  max-width: 100%;
  width: 90%;
  height: auto;
  margin-left: 6%
}



/*Katrine slutter kodning/

/*footer*/
#dorte footer {
  height: 98px;
  padding: 0;
  border-top: solid 3px white; /*#414033;*/
  margin: 0;
  background-color: rgba(129,76,79,0.4);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 34px;

}

#dorte footer p {
  text-align: center;
  font-size: 0.75em;
  font-family: 'Varela Round', sans-serif;
  color: #ffffff;
}
/*forside slutter her */

/*Hamburgermenuen starter her*/
/*hvordan overlayet ser ud når det kommer frem*/
/*Dorte koder Menu + Forside*/

.navi{
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #537081;
  overflow-x: hidden;
  transition: 0.5s;
}

/*hvordan ser indholdet ud i hamburgermenuen*/
.overlayer{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  margin-top: 30px;
  font-family: 'Varela Round', sans-serif;
}
/*hvordan linkene ser ud i overlay*/
.navi a{
  padding: 8px;
  text-decoration: none;
  font-size: 1.2rem; /*tekststørrelse i åben menu*/
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/*giver farve når der holdes over indholdet*/
.navi a:hover, .overlay a:focus {
    color: rgba(129,76,79,0.4);
}

/*position af x/lukke knappen i menuen*/
.navi .closebut{
  position: absolute;
  top: 15px;
  right: 5%;
  padding: 0;
  font-size: 60px;
}
/*hamburgerikon*/
span{
  position: absolute;
  right: 5%;
  margin-top: 20px;
  font-size: 2em;
  color: #ffffff;
  cursor: pointer;
}
/*menuen slutter her*/

/*start mediaqueries*/
@media screen and (max-width: 560px) {
#dorte nav {
  display: none; /*nav menubar forsvinder*/
}
#katrine h1 {
  padding-left: 40px;
  font-family: 'Varela Round', sans-serif;
  font-size: 2em;
}
}

@media screen and (max-width: 880px) {
  #dorte main section {/*de 3 kasser ændres til fuldskærmsstørrelse*/
    width: 97%;
    height: 30%;
    margin: 1.5%;
    padding-right: 5%;
}
  #dorte main section h1{
    padding-top: 30px; /*lidt større padding over h1*/
}
}
/*slut mediaqueries*/
