*{
  box-sizing: border-box;
}

/*Dorte koder Forsiden*/

#dorte {
  max-width: 100%;
  height: auto;
  margin: 0;
  background-image: url(img/breatherdesigntema3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*header og navmenu*/
#dorte header {
  height: 98px;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: solid 3px white; /*#414033;*/
  background-color: rgba(129,76,79,0.4); /*#814C4F;*/
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

#dorte header #header {
  height: 98px;
}

#dorte header #header img {
  height: 90%;
  padding: 8px 0 0 5%;
  margin: 0;
  float: left;
}

#dorte nav {
  position: absolute;
  margin-top: 1.4em;
  width: 80%;
  margin-left: 10%;
  padding-right: 5px;
}

#dorte nav ul {
  list-style-type: none;
  margin: 0;
  overflow:  hidden;
  padding-top: 12px;
}

#dorte nav ul li {
    float: right;
}

#dorte nav ul li a {
    display: block;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
}

#dorte li a:hover {
  color: rgb(83,112,129);
}

#dorte .lup {
  height: 90%;
  padding: 8px 70px 20px 10px;
  margin: 0.2em;
  float: right;
  overflow: hidden;
}
#dorte .lup img {

  }
/*maincontent*/
#dorte main {
  margin-top: 120px; /* Add a top margin to avoid content overlay */
  padding-top: 32px;
  height: 505px;
  padding-bottom: 10px;
}

#dorte main section {
  width: 20%;
  height: 25%;
  padding: 4px 0;
  margin: 0.75em;
  background-color: rgba(83,112,129,0.6);
}

#dorte main section h1 {
    color: #ffffff;
    font-size: 180%;
    text-align: center;
    padding-top: 20px;
    font-family: 'Varela Round', sans-serif;
}

/*footer*/
#dorte footer {
  height: 98px;
  padding: 0;
  border-top: solid 3px white; /*#414033;*/
  margin: 0;
  background-color: rgba(129,76,79,0.4);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 34px;
  /*opacity: 0.7;*/
}

#dorte footer p {
  text-align: center;
  font-size: 0.75em;
  font-family: 'Varela Round', sans-serif;
  color: #ffffff;
}
/*forside slutter her */

/*Hamburgermenuen starter her*/
/*hvordan overlayet ser ud når det kommer frem*/
/*Dorte koder Menu + Forside*/

.navi{
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #537081;
  overflow-x: hidden;
  transition: 0.5s;
}

/*hvordan ser indholdet ud i hamburgermenuen*/
.overlayer{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  margin-top: 30px;
  font-family: 'Varela Round', sans-serif;
}
/*hvordan linkene ser ud i overlay*/
.navi a{
  padding: 8px;
  text-decoration: none;
  font-size: 1.2rem; /*tekststørrelse i åben menu*/
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/*giver farve når der holdes over indholdet*/
.navi a:hover, .overlay a:focus {
    color: rgba(129,76,79,0.4);
}

/*position af x/lukke knappen i menuen*/
.navi .closebut{
  position: absolute;
  top: 15px;
  right: 5%;
  padding: 0;
  font-size: 60px;
}
/*hamburgerikon*/
span{
  position: absolute;
  right: 5%;
  margin-top: 20px;
  font-size: 2em;
  color: #ffffff;
  cursor: pointer;
}
/*menuen slutter her*/

/*start mediaqueries*/
@media screen and (max-width: 560px) {
#dorte nav {
  display: none; /*nav menubar forsvinder*/
}
}

@media screen and (max-width: 880px) {
  #dorte main section {/*de 3 kasser ændres til fuldskærmsstørrelse*/
    width: 97%;
    height: 30%;
    margin: 1.5%;
    padding-right: 5%;
}
  #dorte main section h1{
    padding-top: 30px; /*lidt større padding over h1*/
}
}
/*slut mediaqueries*/

/*Carolines main start*/
/*#carolien main {
  margin: auto;

}
#carolien main section {
  margin-top: auto;
  background-color: blue;
}

/*#dorte main {
  margin-top: 120px; /* Add a top margin to avoid content overlay */
/*  padding-top: 32px;
  height: 505px;
  padding-bottom: 10px;
}

#dorte main section {
  width: 20%;
  height: 25%;
  padding: 4px 0;
  margin: 0.75em;
  background-color: rgba(83,112,129,0.6);
}

#dorte main section h1 {
    color: #ffffff;
    font-size: 180%;
    text-align: center;
    padding-top: 20px;
    font-family: 'Varela Round', sans-serif;

/*indretning*/
#caroline h1 {
  /*background-color: rgba(83,112,129,0.6);*/
  text-align: center;
  background-color: blue;
}

#caroline h2 {
  background-color: green;
  /*background-color: rgba(83,112,129,0.6);*/
  text-align: center;
}

}

#caroline article {
  /*background-color: rgba(83,112,129,0.6);*/
  text-align: center;
  display: block;
  width: 100%;
  height: auto;
}

#caroline figure {
  background-color: orange;
  /*max-width: 100%;
  height: auto;*/
  display: block;
}

#caroline img {
  background-color: red;
  display: block;
  margin: auto;
  /*width: 50%*/
}

@media only screen and (min-width: 700px) {
  #caroline .flex-container {
    display: flex;
    /*flex-direction: row;*/
    width: 100%;
    height: auto;
    }

  #caroline .flex-container-one {
    display: flex;
    width: 100%;
    height: auto;
  }

  #caroline article {
    /*display: flex;
    flex-direction: row;*/
    height: auto;
    margin: 0;
  }

  #caroline .flex-item {
    margin: 0;
    flex-direction: row;
  }

  #caroline .flex-item-one {
    margin: 0;
    flex-direction: row;
  }

}
  #caroline figure {
    /*width: 100%;*/
    height: auto;
    margin: 0;
  }
  #caroline img {
    max-width: 100%;
    height:auto;
  }



}
/*carolines main slut*/
